<!doctype html>
<html lang = "eng">
  <head>
   <link rel="stylesheet", href="/static/css/bootstrap.min.css"/>
  </head>
  <body>
    <header>
    </header>
    <section>
      <%- include('partials/table.ejs'); %>
    </section>
  </body>
</html>
